.letter {
  margin: 0 auto;
  width: 615px;
}
.letter .heading {
  background: url("doi_sm.gif") no-repeat top left/75px;
  margin: 0 auto;
  padding-top: 0.4em;
  text-align: center;
  width: 615px;
}
.letter section {
  text-align: justify;
}
ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 24px;
  margin-top: 14px;
}
